#contenedor{
    background-color: rgb(253, 251, 146);
    height: 750px;
    width: 850px;    
}

#menu{
    background-color:blanchedalmond;
    height: 750px;
    width: 296px;
    display:inline-block;
    vertical-align: top;
}

    #foto{
        background-color: cadetblue;
        width: 296px;
        height: 250px;
        /*display:inline-block;*/
        /*vertical-align: top;*/
    }

        #carnet{
            background-color:darkseagreen;
            width: 100px;
            height: 100px;
            display:inline-block;
            vertical-align: top;
            border-radius:50%;
            position: relative;
            top:70px;
        }

        #nombre{
            background-color:firebrick;
            width: 187px;
            height: 250px;
            display:inline-block;
        }

        #nom{
            position:relative;
            top: 60px;
            left: 10px;
        }

    #opciones{
        background-color:cornflowerblue; 
        width: 296px;
        height: 400px;
    }

        #opc{
            height: 50px;
            text-align:center;
            border:1px solid black;
            position:relative;
            top: 80px;
        }

    #config{
        background-color:darkcyan;
        width: 296;
        height: 100px;
    }

        #conf{
            height: 30px;
            text-align:center;
            border:1px solid black;
            position:relative;
            top: 35px;
        }

#contenido{
    background-color:burlywood;
    height: 750px;
    width: 550px;
    display: inline-block;
}

    #bloque1, #bloque2, #bloque3, #bloque4{
        height: 180px;
        width:545px;
        margin: 2px 0px 2px 0px;
        border:1px solid black;
        display: inline-block;
    }

        #info, #noticias {
            background-color: deepskyblue;
            height: 168px;
            width: 258px;
            display: inline-block;
            padding: 6px;
        }

            #inf {
                height: 25px;
                border: 1px black solid;
                margin-top: 5px;
                position:relative;
                top: 50px;
            }

            #not {
                height: 25px;
                border: 1px black solid;
                margin-top: 5px;
                position:relative;
                top: 50px;
                text-align: right;
            }
        
        #datos2, #fotos2 {
            display: inline-block;
        }
        
            #datos2, #f2a, #f2b {
                background-color: deepskyblue;
                height: 168px;
                width: 150px;
                display: inline-block;
                padding: 4px;
                vertical-align: top;
            }

                #d2f {
                    background-color:cadetblue;
                    height: 70px;
                    width: 70px;
                    border-radius: 50px;
                    border: 1px black;
                    position:relative;
                    top: 8px;
                    left: 40px;
                }

            #f2c {
                background-color: deepskyblue;
                height: 168px;
                width: 50px;
                display: inline-block;
                padding: 4px;
            }

                #d2 {
                    height: 15px;
                    border: 1px black solid;
                    margin-top: 3px;
                    position:relative;
                    top: 10px;
                }
            
        #datos3, #fotos3 {
            display: inline-block;
        }

            #datos3 {
                background-color: deepskyblue;
                height: 168px;
                width: 150px;
                display: inline-block;
                padding: 4px;
                vertical-align: top;
            }

            #f3a {
                background-color: deepskyblue;
                height: 168px;
                width: 212px;
                display: inline-block;
                padding: 4px;
                vertical-align: top;
            }

            #f3b {
                background-color: deepskyblue;
                height: 168px;
                width: 150px;
                display: inline-block;
                padding: 4px;
                vertical-align: top;
            }

            #d3f {
                background-color:cadetblue;
                height: 70px;
                width: 70px;
                border-radius: 50px;
                border: 1px black;
                position:relative;
                top: 8px;
                left: 40px;
            }

            #d3 {
                height: 8px;
                border: 1px black solid;
                margin-top: 3px;
                position:relative;
                top: 5px;
            }

            #datos4, #fotos4 {
                display: inline-block;
            }
    
                #datos4 {
                    background-color: deepskyblue;
                    height: 168px;
                    width: 150px;
                    display: inline-block;
                    padding: 4px;
                    vertical-align: top;
                }
    
                #f4a, #f4b, #f4c, #f4d, #f4e {
                    background-color: deepskyblue;
                    height: 168px;
                    width: 212px;
                    display: inline-block;
                    padding: 4px;
                    vertical-align: top;
                }
    
                #f3b {
                    background-color: deepskyblue;
                    height: 168px;
                    width: 150px;
                    display: inline-block;
                    padding: 4px;
                    vertical-align: top;
                }
    
                #d3 {
                    height: 25px;
                    border: 1px black solid;
                    margin-top: 3px;
                    position:relative;
                    top: 5px;
                }